# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Header directory
library/include/*  @stanleytsang-amd @umfranzw @RobsonRLemos @lawruble13 @saadrahim @LisaDelaney
